.hide {
  opacity: 0;
  transition: all 0.5s ease;
}
.show {
  opacity: 1;
  transition: all 0.5s ease;
}

.zhy-enter,
.zhy-appear {
  opacity: 0;
}
.zhy-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
}
.zhy-enter-done {
  opacity: 1;
}

.zhy-exit {
  opacity: 1;
}
.zhy-exit-active {
  opacity: 0;
  transition: opacity 1s ease;
}
.zhy-exit-done {
  opacity: 0;
}
